apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "renovate-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.deployment.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.deployment.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "renovate-operator.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "renovate-operator.fullname" . }}
        {{- with .Values.deployment.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.deployment.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "renovate-operator.serviceAccountName" . }}
      {{- with .Values.securityContext.pod }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: renovate-operator
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--zap-log-level={{ .Values.logging.level }}"
            - "--zap-encoder={{ .Values.logging.format }}"
          {{- with .Values.securityContext.container }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: JOB_TIMEOUT_SECONDS
              value: {{ .Values.config.defaultJobActiveDeadlineSeconds | quote }}
            - name: JOB_BACKOFF_LIMIT
              value: {{ .Values.config.defaultJobBackoffLimit | quote }}
            - name: DELETE_SUCCESSFUL_JOBS
              value: {{ .Values.config.deleteSuccessfulJobs | quote }}
            - name: JOB_TTL_SECONDS_AFTER_FINISHED
              value: {{ .Values.config.jobTTLSecondsAfterFinished | quote }}
            - name: SERVER_PORT
              value: "8081"
            {{- if or .Values.rbac.ownNamespaceOnly .Values.rbac.watchNamespace }}
            - name: WATCH_NAMESPACE
              {{- if .Values.rbac.watchNamespace }}
              value: {{ .Values.rbac.watchNamespace | quote }}
              {{- else }}
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
              {{- end }}
            {{- end }}
            {{- if .Values.webhook.enabled }}
            - name: WEBHOOK_SERVER_PORT
              value: {{ .Values.webhook.port | quote }}
            - name: WEBHOOK_SERVER_ENABLED
              value: "true"
            {{- end }}
            {{- if gt (int .Values.replicaCount) 1 }}
            - name: LEADER_ELECTION_ID
              value: "{{ include "renovate-operator.fullname" . }}-leader"
            {{- end }}
          ports:
            - containerPort: 8081
              name: http
              protocol: TCP
            - containerPort: 8080
              name: metrics
              protocol: TCP
            {{- if .Values.webhook.enabled }}
            - containerPort: {{ .Values.webhook.port }}
              name: webhook
              protocol: TCP
            {{- end }}
